/*all squares*/
.square {
    width: 200px;
    height: 200px;
    display: inline-block;

}

/*each one*/
.green { background-color: green; }
.red { background-color: red; }
.blue { background-color: blue; }
